body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:467px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:94px;
  width:344px;
  height:467px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:201px;
  width:300px;
  height:62px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:286px;
  width:300px;
  height:46px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:356px;
  width:100px;
  height:16px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:382px;
  width:100px;
  height:16px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:408px;
  width:100px;
  height:16px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:408px;
  width:100px;
  height:16px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:356px;
  width:100px;
  height:16px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:382px;
  width:100px;
  height:16px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:461px;
  width:140px;
  height:40px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:138px;
  width:300px;
  height:45px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
