body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:467px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:94px;
  width:344px;
  height:467px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:138px;
  width:300px;
  height:45px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(106, 142, 127, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:201px;
  width:300px;
  height:32px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(88, 111, 124, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:327px;
  width:300px;
  height:32px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(4, 114, 77, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:369px;
  width:300px;
  height:32px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:104px;
  width:27px;
  height:24px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(152, 149, 114, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:243px;
  width:300px;
  height:32px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(6, 26, 64, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:285px;
  width:300px;
  height:32px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
