body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:467px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:94px;
  width:344px;
  height:467px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:272px;
  width:100px;
  height:16px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u248_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:298px;
  width:100px;
  height:16px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u249_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:324px;
  width:100px;
  height:16px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u250_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:324px;
  width:100px;
  height:16px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u251_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:272px;
  width:100px;
  height:16px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u252_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:298px;
  width:100px;
  height:16px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u253_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:138px;
  width:300px;
  height:45px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:193px;
  width:300px;
  height:69px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:111px;
  width:27px;
  height:27px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
