body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:467px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:94px;
  width:344px;
  height:467px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:119px;
  width:300px;
  height:45px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(32, 129, 195, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:485px;
  width:140px;
  height:40px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:216px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:208px;
  width:300px;
  height:216px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Bold', 'Proxima Nova Bold', 'Proxima Nova';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#04724D;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:164px;
  width:300px;
  height:34px;
  font-family:'ProximaNova-Bold', 'Proxima Nova Bold', 'Proxima Nova';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#04724D;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
