body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:467px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:94px;
  width:344px;
  height:467px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:223px;
  width:268px;
  height:210px;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u86_img.selected {
}
#u86.selected {
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:30px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u87_img.selected {
}
#u87.selected {
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:30px;
  width:110px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u88_img.selected {
}
#u88.selected {
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u89_img.selected {
}
#u89.selected {
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:60px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u90_img.selected {
}
#u90.selected {
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:60px;
  width:110px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u91_img.selected {
}
#u91.selected {
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:90px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:90px;
  width:110px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u95_img.mouseDown {
}
#u95.mouseDown {
}
#u95_img.selected {
}
#u95.selected {
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:120px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u96_img.mouseDown {
}
#u96.mouseDown {
}
#u96_img.selected {
}
#u96.selected {
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:120px;
  width:110px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u97_img.mouseDown {
}
#u97.mouseDown {
}
#u97_img.selected {
}
#u97.selected {
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:150px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:150px;
  width:110px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:180px;
  width:79px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:180px;
  width:110px;
  height:30px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Bold', 'Proxima Nova Bold', 'Proxima Nova';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#04724D;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:181px;
  width:300px;
  height:34px;
  font-family:'ProximaNova-Bold', 'Proxima Nova Bold', 'Proxima Nova';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#04724D;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(163, 22, 33, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:111px;
  width:27px;
  height:27px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(32, 129, 195, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:456px;
  width:140px;
  height:40px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(32, 129, 195, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:506px;
  width:140px;
  height:40px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 223, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:138px;
  width:300px;
  height:45px;
  font-family:'ProximaNova-Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
